@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&family=Noto+Sans+KR:wght@300&family=Orbit&display=swap");
* {
  font-family: "Orbit", sans-serif;
}
/* nav 바 css */
#navbar {
  background-color: rgb(50, 135, 209);
}

/* 로고 css */
#logo:hover {
  color: rgb(165, 243, 146);
  cursor: pointer;
}

/* 버튼 css*/
#btn {
  background-color: black;
  color: white;
  border-radius: 10%;
  border: none;
  padding: 8px 10px 8px 10px;
}

/* 유저 프로필 css*/
.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
